@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter var", sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-[#2B2B2B] bg-opacity-70 backdrop-blur-sm ring-1 ring-inset ring-gray-600;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
    @apply my-2 block h-[2px] w-[30px] bg-white;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}
